@font-face {
        font-family: Raleway Thin;
        src: url('fonts/Raleway-Thin.ttf');
}

@font-face {
        font-family: Raleway;
        src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
        font-family: Raleway Black;
        src: url('fonts/Raleway-Black.ttf');
}

@font-face {
        font-family: Sansation;
        src: url('fonts/Sansation_Bold.ttf');
}

@font-face {
        font-family: Montserrat;
        src: url('fonts/Montserrat-Regular.otf');
        font-weight: normal;
}

@font-face {
        font-family: Montserrat;
        src: url('fonts/Montserrat-ExtraBold.otf');
        font-weight: bolder;
}

@font-face {
        font-family: Andale Mono;
        src: url('fonts/Andale Mono.ttf');
}

@font-face {
        font-family: Comic Sans;
        src: url('fonts/Comic Sans MS.ttf');
}

@font-face {
        font-family: Catalina Script;
        src: url('fonts/Lydia Puente).ttf');
}

@font-face {
        font-family: Typo Round;
        src: url('fonts/Typo_Round_Regular_Demo.otf');
}

@font-face {
        font-family: Westminster;
        src: url('fonts/Westminster.ttf');
}

@font-face {
        font-family: Baskerville;
        src: url('fonts/Baskerville.ttc');
}

@font-face {
        font-family: Bodoni_72_Italic;
        src: url('fonts/BodoniSvtyTwoITCTT-BookIta.ttf');
}

@font-face {
        font-family: Modern Edge;
        src: url('fonts/ModernEdge.ttf');
}

@font-face {
        font-family: Herculanum;
        src: url('fonts/Herculanum.ttf');
}

@font-face {
        font-family: Cubic;
        src: url('fonts/cubic.ttf');
}

@font-face {
        font-family: Matisse ITC;
        src: url('fonts/Matisse_ITC.ttf');
}
