@import url('fonts.css');
@import url('style.css');

body {
        text-align: left;
}

#intro {
        text-align: center;
        margin-bottom: 100px
}

#intro:first-child {
        margin: 1em;
}

#intro > * {
        margin: 0;
}

h2 {
        font-family: Raleway;
        font-size: 64pt;
        color: #444;
}

p {
        font-size: 32pt;
}

.bold {
        font-family: Raleway;
}

li {
        margin: 30px;
}

li#html {
        list-style: initial;
        font-size: 4em;
}

li#html span {
        font-family: inital;
        color: intial;
}

li#css {
        font-size: 3em;
        list-style-image: url('images/arrow.png');
}

li#css div {
        position: relative;
        display: inline-block;
}

li#css span {
        font-family: Sansation Bold, sans-serif;
        font-style: italic;
        color: var(--vermillion);
        padding: 10px;
        background: #333;
        border: 2px solid #eee;
        border-radius: 10px;
        box-shadow: 0 0 10px #444;
        transition: 0.3s;
}

li#css:hover #csstext {
        color: #333;
        background: #ccc;
        border-color: #444;
}

li#css #csstooltiptext {
        position: absolute;
        visibility: hidden;
        font-family: sans-serif;
        font-size: 24px;
        color: #fff;
        border: none;
        border-radius: 8px;
        box-shadow: none;
        white-space: nowrap;
        left: 120%;
        top: 50%;
        transform: translate(0, -50%);
}

li#css #csstooltiptext::after {
        content: ' ';
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translate(0, -50%);
        border-width: 8px;
        border-style: solid;
        border-color: transparent #333 transparent transparent;
}

li#css:hover #csstooltiptext {
        visibility: visible;
}

li#javascript {
        list-style: square;
        font-size: 3em;
}

li#javascript span {
        font-family: Andale Mono, monospace;
        color: #00ff00;
        background: #000000;
        padding: 10px;
        border-width: 5px;
        border-style: solid;
        border-color: #7f7f7f #ccc #ccc #7f7f7f;
}
