@import url('fonts.css');

/* General styles */

:root {
        --vermillion: #ff4400;
}

body {
        color: #000;
        background-color: #fff;
        font-family: Raleway Thin;
        font-size: 18pt;
        text-align: center;
        margin: 0px;
}

.color {
        color: var(--vermillion);
}

h1 {
        font-size: 48pt;
}

h2 {
        font-size: 30pt;
        color: var(--vermillion);
}

h6 {
        font-size: 14pt;
}

p {
        font-size: 18pt;
}

a {
        color: var(--vermillion);
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

.site-title, .site-title a {
        color: #000;
        text-decoration: none;
}

h1 a:hover {
        text-decoration: none;
}

.nav {
        position: relative;
        display: inline-block;
        font-size: 30;
        text-decoration: none;
        color: #000;
        margin: 50px;
}

.nav:hover {
        cursor: pointer;
}

.anim-underline {
        display: inline-block;
        text-decoration: none;
        padding-bottom: 1pt;
}

.anim-underline:after {
        content: '';
        display: block;
        margin: auto;
        height: 1pt;
        width: 0pt;
        background-color: transparent;
        transition: 0.5s ease;
}

.anim-underline:hover {
        text-decoration: none;
}

.anim-underline:hover:after {
        position: relative;
        width: 100%;
        background-color: var(--vermillion);
}

.anim-underline.black-underline:hover:after {
        position: relative;
        width: 100%;
        background-color: #000;
}

.anim-underline.white-underline:hover:after {
        position: relative;
        width: 100%;
        background-color: #fff;
}

ul {
        padding: 0;
        list-style: none;
}

.orange {
        background: var(--vermillion);
        color: #000;
}

.black {
        background: #000;
        color: #fff;
}

.white {
        background: #fff;
        color: var(--vermillion);
}

.orange a {
        color: #fff;
}

/* Special styles */

.projects {
        margin: auto;
}

.projects a {
        text-decoration: none;
        color: #000;
}

.projects div {
        width: 290px;
        height: 200px;
        background: var(--vermillion);
        background-size: auto 100%;
        background-position: center;
        margin: 10px;
        border: 2px solid #ccc;
        border-radius: 10px;
        display: inline-block;
        float: left;
        overflow: hidden;
        transition: background-size 0.33s
}

.projects div:hover {
        background-size: auto 105%;
}

.projects div h6 {
        position: relative;
        right: -100%;
        margin: 0px;
        padding: 5px 10px 5px 10px;
        text-align: right;
        float: right;
        background-color: #fff;
        opacity: 0.7;
        transition: 0.5s;
}

.projects div:hover h6 {
        right: 0;
}

.fullwidth {
        width: 100%;
        clear: both;
        overflow: auto;
}

.fullwidth > * {
        margin: 50px;
        padding: 0;
}

.fullwidth img {
        width: 60%;
        margin: 0;
}

.project-logo {font-size: 64pt;}

#project-descriptions > div:nth-child(odd) {text-align: left;}

#project-descriptions > div:nth-child(odd) img {float: right; clear: none;}

#project-descriptions > div:nth-child(even) {text-align: right;}

#project-descriptions > div:nth-child(even) img {float: left; clear: none;}

#project-descriptions > div p:last-of-type {margin-bottom: 0;}

#edgedemo {
        content: url('gallery/nature/Water Lily 4.jpg');
}

#edgedemo:hover {
        content: url('images/projects/edge.jpg');
}

/*.bg-developer {*/
/*        opacity: 0.5;*/
/*        background-image: url('https://static.pexels.com/photos/70232/pexels-photo-70232.jpeg');*/
/*}*/
/**/
/*.bg-photographer {*/
/*        opacity: 0.5;*/
/*        background-image: url('images/Acacia Bunch.jpg/');*/
/*}*/

/* Landing page transition */

.transition {
        position: absolute;
}

#abovewater {
        display: inline-block;
        margin-top: 20pt;
        margin-left: 2pt;
        width: 24pt;
        height: 26pt;
        border-radius: 100%;
        background-color: var(--vermillion);
        opacity: 0;
}

#belowwater {
        display: none;
}

#surface {
        display: none;
        height: 6px;
        width: 0px;
        opacity: 0;
        background-color: #b0121a;
}
