h2 {
        font-size: 18pt;
}

.pageheader {
        top: 0;
        z-index: 1;
}

.gallery-title {
        text-align: center;
        clear: both;
}

ul {
        list-style: none;
}

ul li {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 20px;
}

.thumbnail {
        position: absolute;
        max-width: 200px;
        max-height: 200px;
        cursor: pointer;
        top: 50%;
        left: 50%;
        border: 3px solid rgba(255, 255, 0, 0);
        border-radius: 5px;
        transform: translate(-50%, -50%);
        transition: 0.2s;
}

.thumbnail:hover {
        padding: 3px;
        border-color: rgba(255, 255, 0, 1);
}

.glasspane, .imageview {
        position: fixed;
        width: 0;
        height: 0;
        opacity: 0;
        transition-duration: 0.3s;
        transition-timing-function: ease;
}

.glasspane {
        top: 0;
        left: 0;
        float: left;
        background-color: #000;
        z-index: 2;
        transition-property: opacity;
}

.glasspane.darkened {
        width: 100%;
        height: 100%;
        opacity: 0.8;
}

.imageview {
        float: center;
        background-color: #e6e6e6;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        transition-property: width, height, opacity;
}

.imageview.visible {
        width: 60%;
        height: 80%;
        opacity: 1;
}

.no-transition {
        transition: none;
}
