h2 {
        font-size: 18pt;
}

.pageheader {
        top: 0;
        z-index: 1;
}

.gallery-title {
        text-align: center;
        clear: both;
}

ul {
        list-style: none;
}

ul li {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 20px;
}

.thumbnail {
        position: absolute;
        max-width: 200px;
        max-height: 200px;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.glasspane, .imageview {
        display: none;
        position: fixed;
}

.glasspane {
        top: 0;
        left: 0;
        float: left;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.8;
        z-index: 2;
}

.imageview {
        float: center;
        width: 60%;
        height: 80%;
        background-color: #e6e6e6;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
}
